<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    {% include 'nav.html' %}
    <!-- container start -->
    
          <div class="container-fluid">
          <!-- category card -->
          <!-- <div class="card " style="height:8rem;"><br> -->
            <div class="card " ><br>
              <div class="container-fluid">
              <div class="row">
                {% for c in cat %}
                <div class="col-sm-1">
                  <center>
                    <img class="rounded-circle img-fluid"  src="{{ c.category_image.url }}" alt="" style="height: 100px;width: 100px;">
                    <p class="fluid">{{ c.name }}</p>
                  </center>
                </div>
                {% endfor %}
               
              </div>
            </div>
            </div><br>
    
    
            <!-- bootstrap slidres -->
            <!-- <div class = "h-100 d-inline-block" style = "width: 400px;height: 800px;; "> -->
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
    
                  {% for o in offer %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img class="w-100 d-inline-block" style = "height: 300px;" src="{{ o.baner_img.url }}" alt=" {{ o.offer }}">
                  </div>
                  {% endfor %}
    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><br>
            <!-- </div> -->
    
    
    
    
            {% for c in cate %}
           
            
            <div class="row mt-3">
              <div class="col-md-2">
                  <div class="card">
                  <center>
                    <h1>{{ c.name }}</h1>
                    <img class="img-fluid" src="{{ c.category_image.url }}" alt="">
                    <!-- <a href="#"><button class="btn btn-info mt-5">view</button></a> -->
                  </center>
                  <br>
                </div>
              </div>
              <div class="col-md-10">
                <div class="card">
           
    
         
                <!-- bootstrap corosol -->
                        <div id="gallery_dress" class="carousel slide" data-ride="carousel" data-interval="false">
                          <div class="carousel-inner">
                             
                              <div class="carousel-item active">
                                <div class="row">
                                 
                                  {% for p in prod %}
                                        {% if p.category == c.name %}
                                
                                      <div class="col">
                                        <a href="/buyer/productview/{{p.id}}">
                                          <div class="card">
                                            <center>
                                              <img class="img-fluid mt-2" src="{{ p.product_image.url }}"  style="height:8rem;width:10rem;"   alt="Image 6"/>
                                          
                                              <p style="color:black;">{{ p.description }}</p>
                                              <!-- <a href="/buyer/productview/{{p.id}}"><button class="btn btn-info">view</button></a> -->
    
                                            </center>
                                          
                                          </div>
                                        </a>
                                      </div>
                                      {% endif %}
                                  {% endfor %}
                                
                                </div>
                              </div>
                              
                          </div>
                      
                          {% if dsprod %}
                          <a class="carousel-control-prev" href="#gallery_dress" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                          </a>
                      
                          <a class="carousel-control-next" href="#gallery_dress" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                          </a>
                          {% else %}
                          {% endif %}
                      </div>
    
                </div>
              </div>
            </div>
            
          {% endfor %}
    
</body>
</html>