
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/buyer/productlist">OnlineShoppie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active"> -->
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        <!-- </li> -->
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <!-- <i class="bi bi-cart"></i> -->
          <!-- <i class="fa fa-shopping-cart mt-2" aria-hidden="true"></i> -->
          <!-- <i class="fa fa-badge mt-2" aria-hidden="true" value=5></i> -->
          
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="#"></a> -->
            <a class="dropdown-item" href="#">my orders</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/accounts/logout">logout</a>
          </div>
        </li>
        <li class="nav-item">
          {% if user %}
            <a class="nav-link " href="/buyer/viewcart">
            <i class="fa fa-shopping-cart mt-2" aria-hidden="true"></i>
            </a>
          {% else %}
            <a class="nav-link " href="/accounts/login">
            <i class="fa fa-shopping-cart mt-2" aria-hidden="true"></i>
            </a>
          {% endif %}

        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" method="POST" >
        {% csrf_token %}
        <input class="form-control mr-sm-2" name="search" id="id_search" type="search" placeholder="Search" aria-label="Search">
        <a href="/buyer/productlist">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </a>
      </form>

    </div>
  </nav>
  {% endblock %}