
   
    {% block content %}
    <div class="col ">
        <!-- <div class="card mt-2 mb-3 shadow p-3 mb-5"> -->
            <!-- <img class="rounded-circle img-fluid mt-2" width="80"  src="https://www.w3schools.com/bootstrap4/newyork.jpg" alt=""> -->
        
            <p>{{user.username}}</p>
            
        <!-- </div> -->
    </div>
    
    <div class="col">
        <a href="/sellerhome">
            <div class="card mt-2 text-white bg-primary mb-3 shadow p-3 mb-5">
                <p>Dashboard</p>
            </div>
         </a>
         <a href="/addproduct">
            <div class="card mt-2 text-white bg-info mb-3 shadow p-3 mb-5">
                <p>Add product</p>
            </div>
        </a>
         <a href="/myorders">
            <div class="card mt-2 text-white bg-info mb-3 shadow p-3 mb-5">
                <p>orders</p>
            </div>
        </a>
    </div>
    {% endblock %}